@charset "UTF-8";

/* Enjin BBCode styles */

.bbcode_quote {
	margin: 8px 0px;
	padding: 8px 10px;
	position: relative;
}
.bbcode_quote .bbcode_quote_decorator {
	position: absolute;
	top: -3px;
	right: -3px;
	height: 7px;
	width: 10px;
}
.bbcode_code {
	*width: 460px;
	padding: 6px;
	margin-top: 10px;
}
.bbcode_code.mode-run {
	height:296px;
	border:none;
}
.bbcode_code .bbcode_code_head a {
	margin-left:8px;
}
.bbcode_code iframe {
	width:100%;
	height:100%;
}
.bbcode_code_body {
	overflow: auto;
	max-height: 600px;
	min-height: 40px;
	max-width: 500px;
	padding: 6px;
	font-family: Monaco, 'Courier New', monospace;
}
.bbcode_smiley {
	margin: 0px 1px;
	position: relative;
	margin-top: -1px;
	top: 2px;
}
.m_forum .post-attachments-images img,
img.bbcode_img {
	height: auto;
	max-width: 610px;
}
.m_forum .post-signature img.bbcode_img {
	max-width: 700px;
}

.bbcode_list { list-style: inside; }
ul.bbcode_list { list-style-type: disc; }
ol.bbcode_list { list-style-type: decimal; }

.bbcode.spoiler {
}
.bbcode_spoiler:hover {
	background: inherit;
	color: inherit;
}

.bbcode.spoiler .spoiler-box {
    border:1px solid #999;
    margin-top:4px;
}
.bbcode.spoiler .spoiler-content {
    padding:4px;
}

.bbcode_indent .bbcode_indent .bbcode_indent .bbcode_indent .bbcode_indent .bbcode_indent {
	margin-left:0em !important;
}
.bbcode_quote .bbcode_quote .bbcode_quote .bbcode_quote .bbcode_quote .bbcode_quote {
	display: none;
}
.bbcode_quote .bbcode_quote_head {
}
.bbcode_quote .bbcode_quote_head .element_avatar  {
	float:left;
}
.bbcode_quote .bbcode_quote_body {
	clear:both;
	margin-top:7px;
}
.bbcode_quote .bbcode_quote_head .user {
	padding-left: 6px;
	padding-right: 5px;
    float: left;
}
.markitup-autocomplete {
	position:absolute;
}	
.markitup-autocomplete .ui-autocomplete {
	width: 367px !important;
}
.markitup-autocomplete.small .ui-autocomplete  li {
	height:20px;
	padding:4px 4px;
}
.markitup-autocomplete .ui-autocomplete .element_avatar  {
	float:left;
}
.markitup-autocomplete .ui-autocomplete  .user {
	padding-left:6px;
	padding-top:4px;
    float: left;
    font-size: 12px;
}


/* Columns */
.bbcode_columns {
	table-layout: fixed;
	border-collapse: collapse;
	/*margin-bottom: -1px;*/
	width: 600px;
}
.bbcode_columns .bbcode_column {
	padding: 3px 5px;
	/*border: 1px solid #333;*/
}

/* Table */
.bbcode_table td {
	padding: 4px 7px;
}

/* Warning */
.bbcode-warning {
    padding: 10px 50px;
    border: 1px solid rgb(252, 88, 86);
    border: 1px solid rgba(252, 88, 86, .25);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    background: url(/themes/core/images/icons/icon-attention-circle.png) no-repeat 15px 17px;
}
.m_forum .bbcode-warning {
	/*display: none;*/
}
.m_forum .row.admin .bbcode-warning {
	display: block;
}

p.bbcode-warning-header {
    font-size: 15px;
    line-height: 15px;
    padding-bottom: 5px;
    color: rgb(252, 88, 86);    
}

p.bbcode-warning-text {
    font-size: 12px;
}